/*Style.CSS*/
/* All logos and logo sizes are edited in this CSS*/

#preloader h1{
    background-size:100px 100px;
    background-repeat: no-repeat;
    background-position:center bottom;
    height:100px;
}





/* Custom */

